# Add any directories, files, or patterns you don't want to be tracked by version control
.idea

# ignore vs code project config files
.vss

# ignore 3rd party lib
node_modules

# Ignore built files
build

package-lock.json

postgres-data